<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/roofpig_and_three.min.js"></script>
  <script src="//cdn.jsdelivr.net/vue/1.0.21/vue.js"></script>
  <title>Rubik</title>
</head>
<body>

  <div id="app">
    <div v-for="section in sections">
      <h3>{{ section.header }}</h3>
      <table>
        <thead><tr><th>Case</th><th>Mirror</th></tr></thead>
        <tbody>
          <tr v-for="row in section.cases">
            <td v-for="col in row">
              <div class="width150 roofpig"
                  data-config="alg={{ col.alg }}|colored=D* F R L U B FR|hover=1|speed=500|flags=showalg|colors=U:y F:b R:r B:g L:o D:w">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    var case1 = new Vue({
      el: '#app',
      data: {
        sections: [{
          header: "Case 1: Easy cases",
          cases: [
            [{alg: "R U R'"}, {alg: "F' U' F"}],
            [{alg: "U' F' U F"},{alg: "U R U' R'"}]
          ]
        }, {
          header: "Case 2: Corner and Edge in Top Layer (Type 1)",
          cases: [
            [{alg: "U' R U' R' U R U R'"}, {alg: "d R' U R U' R' U' R"}],
            [{alg: "U' R U R' U R U R'"},{alg: "d R' U' R U' R' U' R"}],
            [{alg: "d R' U2 R d' R U R'"},{alg: "U' R U2 R' d R' U' R"}],
            [{alg: "d R' U2 R U2 R' U R"},{alg: "U' R U2 R' U2 R U' R'"}],
            [{alg: "d R' U' R U2 R' U R"},{alg: "U' R U R' U2 R U' R'"}]
          ]
        }, {
          header: "Case 3: Corner and Edge in Top Layer (Type 2)",
          cases: [
            [{alg: "R U' R' U d R' U' R"}, {alg: "y' R' U R U' d' R U R'"}],
            [{alg: "R U2 R' U' R U R'"},{alg: "y' R' U2 R U R' U' R"}],
            [{alg: "U R U2 R' U R U' R'"},{alg: "y' U' R' U2 R U' R' U R"}],
            [{alg: "U2 R U R' U R U' R'"},{alg: "y' U2 R' U' R U' R' U R"}],
            [{alg: "U2 R2 U2 R' U' R U' R2"},{alg: "y' U2 R2' U2 R U R' U R2"}]
          ]
        }, {
          header: "Case 4: Corner on Bottom, Edge on Top",
          cases: [
            [{alg: "U R U' R' d' L' U L"}, {alg: "d' L' U L d R U' R'"}],
            [{alg: "y' R' U R U' R' U R"},{alg: "R U' R' U R U' R'"}],
            [{alg: "R U R' U' R U R'"},{alg: "y' R' U' R U R' U' R"}]
          ]
        }, {
          header: "Case 5: Corner on Top, Edge in Middle",
          cases: [
            [{alg: "d R' U R U2 R' U R"}, {alg: "U' R U' R' U2 R U' R'"}],
            [{alg: "d R' U' R d' R U R'"},{alg: "U' R U R' d R' U' R"}],
            [{alg: "R U2 R' U' d' L' U L"},{alg: "R U R' U' R U R' U' R U R'"}]
          ]
        }, {
          header: "Case 6: Corner on Bottom, Edge in Middle",
          cases: [
            [{alg: ""}, {alg: "R U' R' U F' U2 F"}],
            [{alg: "R U2 R U R' U R U2 R2"},{alg: "R2' U2 R' U' R U' R' U2 R'"}],
            [{alg: "R U' R' F' L' U2 L F"},{alg: "R U' R U y' L U' L' B2"}]
          ]


        }]
      }
    })
  </script>

</body>
</html>
